
<div class="container">
      <div class="menu"><%= link_to "Add Cocktail", new_cocktail_path, {class: "btn btn-flat"} %>
      </div>
      <div class="cards">
        <% @cocktails.each do | cocktail | %>
         <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('<%= cocktail.photo.present? ? cl_image_path(cocktail.photo.key, height: 300, width: 400, crop: :fill) : image_path("missingimage.jpg") %>');">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
        <% end %>
      </div>
  </div>


