<!-- app/views/cocktails/new.html.erb -->
<div class="container">
  <div class="border col-sm-6 col-md-6 col-lg-6 text-center">
    <div>
      <h2>Create a New Cocktail </h2>
    </div>
    <div>
      <%= render "form", cocktail: @cocktail %>
    </div>
  </div>
  <%= link_to "Back", root_path, {class: "btn btn-primary"} %>
</div>
