.card-category {
  background-size: cover;
  //background-image: asset-url("cocktails/Mojito.jpg");
  background-position: center;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;

  a {
    text-decoration: none;
    color: white;
  }

  .card-category-infos {
    //padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }

  .card-category-icon {
    font-size: 16px;
    // color: #c42f3b;
    position: absolute;
    right: -15px;
    top: -5px;
    width: 40px;
  }

  #pen {
    // color: white;
    right: 8px;
    top: -5px;

  }
}
